In [1]:
import yfinance as yf

In [7]:
msft = yf.Ticker("MSFT")
msft_data = msft.history(period="3d")

msft_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-09-23 00:00:00-04:00,513.799988,514.590027,507.309998,509.230011,19799600,0.0,0.0
2025-09-24 00:00:00-04:00,510.380005,512.479980,506.920013,510.149994,13533700,0.0,0.0
2025-09-25 00:00:00-04:00,508.299988,510.010010,505.040009,507.029999,15748400,0.0,0.0