# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers
expression = (3*4)+5
print(expression)

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries used by Data Scientists  
- Create tables in Jupyter Notebook using Markdown  
- Demonstrate basic arithmetic operations in Python  
- Understand open-source tools used in Data Science

## Author:
Đỗ Đức Duy