# üóÑÔ∏è SQLite ‚Äì Lightweight Embedded Database

## üìå What is SQLite?
**SQLite** is a self-contained, serverless, zero-configuration SQL database engine.  
It is embedded directly into applications and stores data as a single `.db` file on disk.

Unlike traditional database servers (e.g., MySQL, PostgreSQL), SQLite does **not require installation or running a separate service** ‚Äî it works out of the box with minimal setup.

---

## ‚öôÔ∏è Key Features
- üì¶ **Serverless** ‚Äì no need for a separate database server process.  
- üìÅ **File-based** ‚Äì data is stored in a single cross-platform file (`.db`).  
- ‚ö° **Lightweight & Fast** ‚Äì ideal for small to medium-sized apps, prototyping, or testing.  
- üß∞ **Fully SQL-compliant** ‚Äì supports most of the SQL-92 standard.  
- üîå **Built-in Python support** ‚Äì usable via the `sqlite3` module without extra libraries.

---

In [2]:
import sqlite3 as sql

# Some Python already include sqlite3, check if it's included or not
print(sql.sqlite_version)

3.50.4

In [4]:
conn = sql.connect('Instruction.db')
cursor = conn.cursor()

In [10]:
table = '''
        CREATE TABLE IF NOT EXISTS INSTRUCTOR(
            ID INTEGER PRIMARY KEY NOT NULL, 
            FNAME VARCHAR(20), 
            LNAME VARCHAR(20), 
            CITY VARCHAR(20), 
            CCODE CHAR(3)
            );
'''
cursor.execute(table)

In [ ]:
cursor.execute('''insert into INSTRUCTOR values 
               (1, 'Rav', 'Ahuja', 'TORONTO', 'CAN'),
               (2, 'Raul', 'Chong', 'Markham', 'CAN'), 
               (3, 'Hima', 'Vasudevan', 'Chicago', 'USA'),
               (4, 'Duy', 'Do', 'Ho Chi Minh', 'VNA'),
               (5, 'Cristiano', 'Ronaldo', 'Madeira', 'POR'),
               (6, 'Kylian', 'Mbappe', 'Paris', 'FRA')
               ''')

conn.commit()

In [20]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor.execute(statement)
print("All the records")
output_all = cursor.fetchall()
for row_all in output_all:
  print(row_all)

print("\nPrint the first 2 records")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number how many rows you want to fetch
statement = '''SELECT * FROM INSTRUCTOR'''
cursor.execute(statement)
output_many = cursor.fetchmany(2) 
for row_many in output_many:
  print(row_many)

All the records
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

Print the first 2 records
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')